
body, html {
    height: 100%;
    font-family: 'Georgia', sans-serif;
    font-size: 21px;
    color: #444;
    line-height: 1.58;
    text-align: left;
}


.title {
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
  color: #fff;
  text-align: center;
  color: Black;
}

.title h1 {
font-size: 40px;
}


.section1{
  width: 100%;
  background-color: #111;
}

.section2{
  width: 100%;
  background-color: #fff;
  margin: 30px 0px;
}

.top-img{
  width: 500px;
}

.side-img{
  width: 100%;
}

.inread-img{
  width: 100%;
  margin-bottom: 20px;
}

.bottom-img{
  width: 100%;
  margin-bottom: 20px;
}

.content {
  padding: 20px 0px 60px 0px;
}