
body, html {
    height: 100%;
    font-family: 'Georgia', sans-serif;
    font-size: 21px;
    color: #444;
    line-height: 1.58;
    text-align: left;
}


.title {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: Black;
}

.p {
  font-family: 'Roboto', sans-serif;

}

.section1{
  width: 100%;
  background-color: #b6b6b6;
}

.top-img{
  height: 400px;

}

.content {
  padding: 20px 0px 60px 0px;
}